# Supabase
NEXT_PUBLIC_SUPABASE_URL= https://koawdneiumtqewactbyz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtvYXdkbmVpdW10cWV3YWN0Ynl6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM5NTM2NjgsImV4cCI6MjA5OTUyOTY2OH0.fyzDui0vTYhG5wibk-TPBEinlfLNS7BtHCaJ7hIlD2M
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
